.job-item-bg-container {
  background-color: #272727;
  margin-top: 16px;
  margin-bottom: 32px;
  width: 66vw;
  border-radius: 12px;
  padding: 16px;
}

@media screen and (max-width: 767px) {
  .job-item-bg-container {
    width: 90vw;
    margin-right: 0px;
    align-self: flex-start;
    margin-left: 0px;
  }
}

.job-item-logo-title-container {
  display: flex;
  align-items: center;
}

.job-item-image {
  height: 50px;
  width: 50px;
  margin-right: 16px;
}

.job-item-title {
  font-family: Roboto;
  color: #ffffff;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .job-item-title {
    font-size: 16px;
  }
}

.job-item-rating-container {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.job-item-star-icon {
  fill: #fbbf24;
  margin-right: 6px;
}

.job-item-rating-text {
  font-family: Roboto;
  color: #ffffff;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .job-item-rating-text {
    font-weight: 600;
    font-size: 14px;
  }
}

.job-item-sec-container {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  list-style-type: none;
}

.location-full-part-time-container {
  display: flex;
  align-items: center;
}

.job-item-location-container {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.job-item-location {
  fill: #ffffff;
}

.location-text {
  font-family: Roboto;
  color: #ffffff;
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  .location-text {
    font-size: 12px;
  }
}

.job-item-package {
  font-family: Roboto;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .job-item-package {
    font-size: 12px;
  }
}

.job-item-hr-line {
  border: 1px solid #b6c5ff;
}

.job-title-description-title {
  font-family: Roboto;
  color: #ffffff;
  font-size: 22px;
  margin-top: 10px;
}

.job-title-description {
  font-family: Roboto;
  color: #ffffff;
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .job-title-description-title {
    font-size: 16px;
  }

  .job-title-description {
    font-size: 12px;
  }
}

.job-item-link-style {
  text-decoration: none;
}
