.job-bg-container {
  background-color: #000000;
  min-height: 100vh;
  padding-bottom: 36px;
}

.job-inner-container {
  margin-top: 36px;
  padding-left: 36px;
  display: flex;
}

.profile-details-container {
  margin-right: 16px;
}

.jobs-user-profile-outer-container {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  width: 300px;
  height: 200px;
  background-size: cover;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 16px;
  margin-bottom: 16px;
}

.profile-user-name {
  font-family: Roboto;
  color: #6366f1;
  font-size: 20px;
  margin-top: 10px;
}

.username-position {
  font-family: Roboto;
  color: #7e858e;
  margin-top: 10px;
  font-size: 16px;
}

.profile-horizontal-line {
  width: 300px;
  margin-top: 24px;
  border: 1px solid #b6c5ff;
}

.type-of-employment {
  font-family: Roboto;
  color: #ffffff;
  font-size: 22px;
  margin-top: 16px;
}

.toe-ul-container {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 22px;
  margin-top: 16px;
}

.toe-ele-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.check-box-style {
  height: 18px;
  width: 18px;
}

.list-item-text {
  font-family: Roboto;
  color: #f1f5f9;
  font-size: 16px;
  margin-left: 10px;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #4f46e5;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.input-search-container {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.input-search-bar-el {
  background-color: transparent;
  border: 1px solid #7e858e;
  outline: none;
  padding: 6px;
  height: 35px;
  width: 300px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-family: Roboto;
  color: #ffffff;
  padding-left: 16px;
}

.jobs-search-icon-container {
  background-color: #475569;
  padding: 5px;
  height: 35px;
  width: 40px;
  border: 1px solid #7e858e;
  border-left: 0px solid #475569;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.jobs-search-button {
  background-color: transparent;
  border: none;
}

.jobs-item-container {
  background-color: transparent;
  min-height: 60vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobs-item-ul-container {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.jobs-user-retry-btn {
  background-color: #4f46e5;
  border-width: 0px;
  font-size: 12px;
  height: 35px;
  width: 90px;
  color: #ffffff;
  font-family: Roboto;
  border-radius: 5px;
}

.job-list-failure-view-heading {
  font-family: Robot;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  font-size: 36px;
}

.job-list-failure-view-description {
  font-family: Roboto;
  text-align: center;
  color: #7e858e;
  margin-top: 10px;
}

.job-list-failure-view-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.no-jobs-bg-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
