.home-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 767px) {
  .home-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  }
}

.home-description-container {
  min-height: 88vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 36px;
}

@media screen and (max-width: 767px) {
  .home-description-container {
    justify-content: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    width: 100%;
    padding-left: 16px;
  }
}

.home-main-heading {
  color: #ffffff;
  font-family: Roboto;
  font-size: 56px;
}

@media screen and (max-width: 767px) {
  .home-main-heading {
    font-size: 32px;
  }
}

.home-description {
  font-family: Roboto;
  color: #cbd5e1;
  margin-top: 16px;
  font-size: 28px;
}

@media screen and (max-width: 767px) {
  .home-description {
    font-size: 20px;
  }
}

.home-link-item-style {
  text-decoration: none;
}

.find-jobs-button {
  align-self: flex-start;
  margin-top: 36px;
  background-color: #4f46e5;
  border-width: 0px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  height: 40px;
  width: 110px;
  border-radius: 5px;
}
